<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('我的已办')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <!--<li>
                                <p>请假类型：</p>
                                <select name="type" th:with="type=${@dict.getType('biz_leave_type')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>-->
                            <li>
                                <p>流程实例ID：</p>
                                <input type="text" name="instanceId"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <!--<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="process:leave:export">
                    <i class="fa fa-download"></i> 导出
                 </a>-->
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
     <script th:src="@{/js/activiti.js}"></script>
    <script th:inline="javascript">
        var prefix = ctx + "loan";
        var shortLoanOverdueRecordsDatas = [[${@dict.getType('dkyqzt')}]];
        var longInLoanOverdueRecordsDatas = [[${@dict.getType('dkyqzt')}]];
        var mortgageOfOwnAssetsDatas = [[${@dict.getType('zycchdy')}]];
        var thirdPartyAssetMortgageDatas = [[${@dict.getType('dsfzchdy')}]];
        var guaranteeDatas = [[${@dict.getType('bzhdb')}]];
        var datas = [[${@dict.getType('biz_leave_type')}]];

        $(function() {
            var options = {
                url: prefix + "/taskDoneList",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                detailUrl: prefix + "/edit/{id}",
                modalName: "请假业务",

                columns: [{
                    checkbox: true
                },
                {
                    field : 'id',
                    title : '主键ID',
                    visible: false
                },
                    {
                        field: 'applyUserName',
                        title: '<span style="color: red;">申请人</span>',
                        formatter: function(value, row, index) {
                            return '<span style="color: red;">' + (value ? value : "-") + '</span>';
                        }
                    },
                    {
                        field: 'applyTime',
                        title: '申请时间'
                    },
                    {
                        field: 'title',
                        title: '企业名称'
                    },
                    {
                        field: 'reason',
                        title: '主营业务'
                    },
                    {
                        field: 'legal',
                        title: '企业法人'
                    },
                    {
                        field: 'legalNumber',
                        title: '电话号码'
                    },
                    {
                        field: 'contacts',
                        title: '联系人'
                    },
                    {
                        field: 'contactsNumber',
                        title: '联系人电话'
                    },
                    /*{
                        field: 'synopsis',
                        title: '企业简介'
                    },
                    {
                        field: 'totalAssets',
                        title: '资产总额(万元)'
                    },
                    {
                        field: 'salesVolume',
                        title: '销售额(万元)'
                    },
                    {
                        field: 'totalLiabilities',
                        title: '负债总额(万元)'
                    },
                    {
                        field: 'totalProfit',
                        title: '利润总额(万元)'
                    },
                    {
                        field: 'netAssets',
                        title: '净资产(万元)'
                    },
                    {
                        field: 'taxAmount',
                        title: '纳税额(万元)'
                    },
                    {
                        field: 'fixedAssets',
                        title: '固定资产(万元)'
                    },
                    {
                        field: 'oneYearDebtDue',
                        title: '一年内到期债务(万元)'
                    },
                    {
                        field: 'loanBalance',
                        title: '贷款余额(万元)'
                    },
                    {
                        field: 'otherLiabilities',
                        title: '其他债务'
                    },
                    {
                        field: 'relatedCompanies',
                        title: '关联公司情况'
                    },
                    {
                        field: 'lendingBank',
                        title: '贷款银行'
                    },
                    {
                        field: 'shortLoanOverdueRecords',
                        title: '短期贷款逾期状态',
                        formatter: function(value, row, index) {
                            return $.table.selectDictLabel(shortLoanOverdueRecordsDatas, value);
                        }
                    },
                    {
                        field: 'longInLoanOverdueRecords',
                        title: '中长期贷款逾期状态',
                        formatter: function(value, row, index) {
                            return $.table.selectDictLabel(longInLoanOverdueRecordsDatas, value);
                        }
                    },
                    {
                        field: 'applicationAmount',
                        title: '申请助保贷金额'
                    },
                    {
                        field: 'useOfFunds',
                        title: '贷款资金用途'
                    },
                    {
                        field: 'mortgageOfOwnAssets',
                        title: '自有资产抵押'
                    },
                    {
                        field: 'thirdPartyAssetMortgage',
                        title: '第三方资产抵押'
                    },
                    {
                        field: 'guarantee',
                        title: '保证担保'
                    },
                    {
                        field: 'proposedBank',
                        title: '拟贷款银行'
                    },
                {
                    field : 'instanceId',
                    title : '流程实例ID'
                },
                {
                    field: 'applyTime',
                    title: '申请时间'
                },
                {
                    field: 'taskId',
                    title: '任务ID',
                    visible: false
                },

                {
                    field: 'doneTime',
                    title: '办理时间'
                },*/
                    {
                        field: 'taskName',
                        title: '已办任务名称',
                        align: 'center',
                        formatter: function(value, row, index) {
                            return '<span class="badge badge-primary">' + value + '</span>';
                        }
                    },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="$.operate.detail(\'' + row.id + '\')"><i class="fa fa-eye"></i> 申请详情</a> ');
                        actions.push('<a class="btn btn-warning btn-xs" href="javascript:void(0)" onclick="showHistoryDialog(\'' + row.instanceId + '\')"><i class="fa fa-list"></i> 审批历史</a> ');
                        actions.push('<a class="btn btn-info btn-xs" href="javascript:void(0)" onclick="showProcessImgDialog(\'' + row.instanceId + '\')"><i class="fa fa-image"></i> 进度查看</a> ');
                        actions.push('<a class="btn btn-info btn-xs" href="javascript:void(0)" onclick="showProcessTimeline(\'' + row.instanceId + '\',\''+ row.id + '\')"><i class="fa fa-image"></i> 审理进度查看</a> ');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        /*时间轴*/
        function showProcessTimeline(instanceId,id) {
            var url = prefix + '/timeline?instanceId=' + instanceId+"&id="+id;
            $.modal.open("查看审批时间轴", url, null, null, null, true);
        }
    </script>
</body>
</html>
