<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('图表组合')" />
</head>
<body class="gray-bg" >
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">

            <div class="col-sm-4">
                <div class="ibox">
                    <div class="ibox-content">
                        <h2>已注册企业数</h2>
                        <h1 class="no-margins" >[[${groupFourList.numFive}]]</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox">
                    <div class="ibox-content">
                        <h2>服务机构入驻数量</h2>
                        <h1 class="no-margins" >[[${groupFourList.numSeven}]]</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox">
                    <div class="ibox-content">
                        <h2>服务机构已完成申请事项数</h2>
                        <h1 class="no-margins" >[[${groupFourList.numEight}]]</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-3">
                <div class="ibox">
                    <div class="ibox-content">
                        <h2>金融服务申请数量</h2>
                        <h1 class="no-margins" ><!--[[${groupFourList.numOne}]]-->153</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ibox">
                    <div class="ibox-content">
                        <h2>金融机构放款企业数量</h2>
                        <h1 class="no-margins"><!--[[${groupFourList.numTwo}]]-->151</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ibox">
                    <div class="ibox-content">
                        <h2>金融机构放款数量</h2>
                        <h1 class="no-margins"><!--[[${groupFourList.numThree}]]-->107671.1111(元)</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ibox">
                    <div class="ibox-content">
                        <h2>已合作银行数</h2>
                        <h1 class="no-margins"><!--[[${groupFourList.numFour}]]-->50(个)</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>服务机构申请事项完成数量</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="echarts" id="echarts-pie-chart8"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>各旗区企业注册数量</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="echarts" id="echarts-pie-chart9"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>八大板块入驻服务机构数量统计</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="echarts" id="echarts-pie-chart10"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>各银行助保贷数量</h5>

                    </div>
                    <div class="ibox-content">
                        <div class="echarts" id="echarts-pie-chart1"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>助保贷用户注册时间统计</h5>

                    </div>
                    <div class="ibox-content">
                        <div class="echarts" id="echarts-pie-chart2"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>各旗区保贷数量</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="echarts" id="echarts-pie-chart3"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <input type="hidden" th:value="${jsonBankList}" id="jsonBankList">
    <input type="hidden" th:value="${bankList}" id="bankList">
    <input type="hidden" th:value="${dateNumberList}" id="dateNumberList">
    <input type="hidden" th:value="${dateYearList}" id="dateYearList">
    <input type="hidden" th:value="${deptNameList}" id="deptNameList">
    <input type="hidden" th:value="${deptNumberList}" id="deptNumberList">
    <input type="hidden" th:value="${platesEghtNameList}" id="platesEghtNameList">
    <input type="hidden" th:value="${platesEghtMapList}" id="platesEghtMapList">
    <input type="hidden" th:value="${enterpriseNameList}" id="enterpriseNameList">
    <input type="hidden" th:value="${enterpriseNumberList}" id="enterpriseNumberList">
    <input type="hidden" th:value="${mechanismNameList}" id="mechanismNameList">
    <input type="hidden" th:value="${mechanismNumberList}" id="mechanismNumberList">
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: peity-js" />
    <th:block th:include="include :: sparkline-js" />
    <th:block th:include="include :: echarts-js" />
    <script type="text/javascript">
	    $(document).ready(function () {
            var pieChart1 = echarts.init(document.getElementById("echarts-pie-chart1"));
            let jsonBankList = JSON.parse($('#jsonBankList').val());
            let bankList = JSON.parse($('#bankList').val());
            var pieoption = {
                title: {
                    text: '银行助保贷数量',
                    x: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    x: 'left',
                    data: bankList
                },
                calculable: true,
                series: [
                    {
                        name: '银行所占比',
                        type: 'pie',
                        radius: '55%',
                        center: ['50%', '60%'],
                        data: jsonBankList
                    }
                ]
            };
            pieChart1.setOption(pieoption);
            $(window).resize(pieChart1.resize);

            var pieChart2 = echarts.init(document.getElementById("echarts-pie-chart2"));
            var option = {
                xAxis: {
                    type: 'category',
                    data: JSON.parse($('#dateYearList').val())
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                    data: JSON.parse($('#dateNumberList').val()),
                    type: 'bar',
                    showBackground: true,
                    backgroundStyle: {
                        color: 'rgba(220, 220, 220, 0.8)'
                    }
                }]
            };
            pieChart2.setOption(option);
            $(window).resize(pieChart2.resize);

            //按旗区划分

            var dataAxis = JSON.parse($('#deptNameList').val());
            var data = JSON.parse($('#deptNumberList').val());
            var yMax = 40;
            var dataShadow = [];

            for (var i = 0; i < data.length; i++) {
                dataShadow.push(yMax);
            }
            var pieChart3 = echarts.init(document.getElementById("echarts-pie-chart3"));
            var option1 = {
                title: {
                    text: '各旗区保贷数量',
                },
                xAxis: {
                    data: dataAxis,
                    axisLabel: {
                        inside: true,
                        textStyle: {
                            color: '#fff'
                        }
                    },
                    axisTick: {
                        show: false
                    },
                    axisLine: {
                        show: false
                    },
                    z: 10
                },
                yAxis: {
                    axisLine: {
                        show: false
                    },
                    axisTick: {
                        show: false
                    },
                    axisLabel: {
                        textStyle: {
                            color: '#999'
                        }
                    }
                },
                dataZoom: [
                    {
                        type: 'inside'
                    }
                ],
                series: [
                    { // For shadow
                        type: 'bar',
                        itemStyle: {
                            color: 'rgba(0,0,0,0.05)'
                        },
                        barGap: '-100%',
                        barCategoryGap: '40%',
                        data: dataShadow,
                        animation: false
                    },
                    {
                        type: 'bar',
                        itemStyle: {
                            color: new echarts.graphic.LinearGradient(
                                0, 0, 0, 1,
                                [
                                    {offset: 0, color: '#1AB394'},
                                    {offset: 0.5, color: '#1AB394'},
                                    {offset: 1, color: '#1AB394'}
                                ]
                            )
                        },
                        emphasis: {
                            itemStyle: {
                                color: new echarts.graphic.LinearGradient(
                                    0, 0, 0, 1,
                                    [
                                        {offset: 0, color: '#1AB394'},
                                        {offset: 0.7, color: '#1AB394'},
                                        {offset: 1, color: '#1AB394'}
                                    ]
                                )
                            }
                        },
                        data: data
                    }
                ]
            };

            // Enable data zoom when user click bar.
            var zoomSize = 6;
            pieChart3.on('click', function (params) {
                console.log(dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)]);
                pieChart3.dispatchAction({
                    type: 'dataZoom',
                    startValue: dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)],
                    endValue: dataAxis[Math.min(params.dataIndex + zoomSize / 2, data.length - 1)]
                });
            });
            pieChart3.setOption(option1);
            $(window).resize(pieChart3.resize);
        });
            /*八大板块饼图*/
        var platesEghtNameList = JSON.parse($('#platesEghtNameList').val());
        var platesEghtMapList = JSON.parse($('#platesEghtMapList').val());

        var pieChart8 = echarts.init(document.getElementById("echarts-pie-chart8"));
        var option8 = {
            tooltip: {
                trigger: 'item',
                formatter: '{a} <br/>{b}: {c} ({d}%)'
            },
            legend: {
                orient: 'vertical',
                left: 10,
                data: platesEghtNameList
            },
            series: [
                {
                    name: '服务机构申请事项完成统计 ',
                    type: 'pie',
                    radius: ['50%', '70%'],
                    avoidLabelOverlap: false,
                    label: {
                        show: false,
                        position: 'center'
                    },
                    emphasis: {
                        label: {
                            show: true,
                            fontSize: '30',
                            fontWeight: 'bold'
                        }
                    },
                    labelLine: {
                        show: false
                    },
                    data: platesEghtMapList
                }
            ]
        };

        pieChart8.setOption(option8);
        $(window).resize(pieChart8.resize);
        /*各旗区企业注册数量*/
        var enterpriseNameList = JSON.parse($('#enterpriseNameList').val());
        var enterpriseNumberList = JSON.parse($('#enterpriseNumberList').val());
        var pieChart9 = echarts.init(document.getElementById("echarts-pie-chart9"));
        var option9  = {
            color: ['#3398DB'],
            tooltip: {
                trigger: 'axis',
                axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                    type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: [
                {
                    type: 'category',
                    data: enterpriseNameList,
                    axisTick: {
                        alignWithLabel: true
                    }
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {
                    name: '各旗区企业注册数量',
                    type: 'bar',
                    barWidth: '60%',
                    data: enterpriseNumberList
                }
            ]
        };

        pieChart9.setOption(option9);
        $(window).resize(pieChart9.resize);

        // 八大板块入驻服务机构数量统计
        var mechanismNameList = JSON.parse($('#mechanismNameList').val());
        var enterpriseNumberList = JSON.parse($('#mechanismNumberList').val());
        var pieChart10 = echarts.init(document.getElementById("echarts-pie-chart10"));
        var option10  = {
            color: ['#db2652'],
            tooltip: {
                trigger: 'axis',
                axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                    type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: [
                {
                    type: 'category',
                    data: mechanismNameList,
                    axisTick: {
                        alignWithLabel: true
                    },
                    axisLabel: {
                        interval:0,
                        rotate:40
                    }
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {
                    name: '入驻服务机构数',
                    type: 'bar',
                    barWidth: '60%',
                    data: enterpriseNumberList
                }
            ]
        };


        pieChart10.setOption(option10);
        $(window).resize(pieChart10.resize);
    </script>

</body>
</html>
