<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

</head>
<body>
<h3 style="text-align: center">欢迎阅读“<span style="color: red">鄂尔多斯市市中小企业公共服务平台服务条款</span>”<br><span style="font-size: 15px;">本使用条款是您与鄂尔多斯市中小企业公共服务平台之间的协议。本使用条款适用于鄂尔多斯市中小企业公共服务平台网站。除非您接受下面的《服务许可协议》条款，否则 您无权使用“鄂尔多斯市中小企业公共服务平台”提供的相关服务。</span></h3>
<h4>1. 服务条款的确认和接纳</h4>
a.当您使用“鄂尔多斯市中小企业公共服务平台”提供的服务时，您的使用行为将视为对本《协议》的接受，并同意接受本《协议》各项条款的约束。
b.该协议在必要时将进行更新，每次改动都会在“鄂尔多斯市中小企业公共服务平台”上发布更新通知，并立即生效。
c.如果您拒绝接受新的协议，您必须放弃使用“鄂尔多斯市中小企业公共服务平台”提供的服务；若您继续使用“鄂尔多斯市中小企业公共服务平台”提供的服务，则表明您接受新的协议。
d.除非特别声明，某些增强服务的新功能将适用该协议。
e.该协议只有“鄂尔多斯市中小企业公共服务平台”的书面授权人员才可以修改。
<h4>2. 信息安全</h4>
a. 本网站将对您所提供的资料进行严格的管理及保护，本网站将使用相关技术，防止您的个人资料丢失、被盗用或遭篡改。
b.“鄂尔多斯市中小企业公共服务平台”要求用户在使用服务时必须遵守相关法律，但对用户使用服务所产生的纠纷不负法律责任。
c.“鄂尔多斯市中小企业公共服务平台”有权依据自己的判断随时中断对某一用户的服务。
d. 当政府机关依照法定程序要求本网站披露个人资料时，本网站将根据执法单位之要求或为公共安全之目的提供个人资料。在此情况下之任何披露，本网站均得免责。
<h4>3. 免责：除上述之规定属免责外，下列情况时本网站亦毋需承担任何责任：</h4>
1.由于您将用户密码或支付密码告知他人或与他人共享注册帐户，由此导致的任何个人资料泄露。
2. 任何由于计算机问题、黑客政击、计算机病毒侵入或发作、因政府管制而造成的暂时性关闭等影响网络正常经营之不可抗力而造成的个人资料泄露、丢失、被盗用或被窜改等。
3. 网站的网页上有与其他网站网页的链接，包括旗帜广告和网页上的其他广告。网站对其他任何网站的内容、隐私政策或运营，或经营这些网站的公司的行为概不负责。在向这些与网站链接的网站提供个人信息之前，请查阅它们的隐私政策。
<h4>4. 由于与本网站链接的其它网站所造成之个人资料泄露及由此而导致的任何法律争议和后果。 5. 本网站之保护隐私声明的修改及更新权均属于网站。
    若您的信息登记到“鄂尔多斯市中小企业公共服务平台” ，您必须同意以上各项说明。</h4>
</body>
</html>