<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>内蒙古鄂尔多斯市 · 中小企业公共服务平台</title>
    <link th:src="@{zxqy/bootstrap/css/bootstrap.css}" rel="stylesheet" href="zxqy/bootstrap/css/bootstrap.css">
    <link th:src="@{zxqy/css/chromagallery.min.css}" rel="stylesheet" href="zxqy/css/chromagallery.min.css">
    <link th:src="@{zxqy/css/main.css}" rel="stylesheet" href="zxqy/css/main.css">
    <link rel="stylesheet" type="text/css" th:href="@{jquery-bootstrup-lunbo/css/normalize.css}" href="css/normalize.css" />

    <link rel="stylesheet" type="text/css" th:href="@{jquery-bootstrup-lunbo/css/default.css}"  href="css/default.css">


    <link th:href="@{jquery-bootstrup-lunbo/css/bootstrap-theme.min.css}"  href="css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />

    <link th:href="@{jquery-bootstrup-lunbo/css/site.css}"  href="css/site.css" rel="stylesheet" type="text/css" />

    <script th:href="@{zxqy/js/jquery-1.11.0.min.js}" src="zxqy/js/jquery-1.11.0.min.js"></script>
    <script th:href="@{zxqy/layer/layer.js}" src="zxqy/layer/layer.js"></script>
    <script th:href="@{zxqy/layer/extend/layer.ext.js}" src="zxqy/layer/extend/layer.ext.js"></script>
    <script th:href="@{zxqy/js/zxqyJavascript.js}" src="zxqy/js/zxqyJavascript.js"></script>
</head>

<body>
  <div class="head"></div>
  <div class="list-body">
    <div class="list">
      <div class="container">
        <div class="row">
          <div class="index-title col-sm-12">
            <span><a href="">找<i>资金</i></a></span>
          </div>
          <div class="index-bg col-sm-12">
            <div class="index-second-bank com-sm-12">
              <ul class="list-inline list-connect">
              </ul>
            </div>
          </div>
        </div>
          <div class="servicePage">

          </div>
      </div>
    </div>
  </div>
  <div class="footbut">
    <a href="javascript:void(0);">
      <img src="images/index-seventh_14.png" alt="">
    </a>
  </div>
  <div class="foot"></div>

  <div class="index-left">
    <a href="">
      <img class="wx" src="images/index-first_22.png" alt="">
    </a>
    <div class="wximg">
      <img src="images/index-first_20.png" alt="">
    </div>
  </div>
  <div class="index-right index-rights">
      <div class="index-back goBack" >上一页</div>
      <div class="index-back index">返回首页</div>
  </div>
  <script th:inline="javascript"> var ctx = [[@{/}]]; var captchaType = [[${captchaType}]]; </script>
  <script>
    $(function () {
      load();
      wx();
      columsDis();
      classShow();
      zcClick();
      footDis();
      maps();
        // 列表页返回
        $(".index").click(function () {
            window.location = "/";
        });
        $(".goBack").click(function () {
            window.history.back();
        });
    })
  </script>
  <script>
      serviceAjax();
      function serviceAjax(pageNum) {
          $.ajax({
              type: "post",
              url: ctx + "bankAjax",
              dataType: "json",
              async:false,
              success: function (data) {
                  var list = data.pageInfo.list;
                  var content = ""
                  for (var i = 0; i < list.length; i++) {
                      content = content + "<li class=\"col-sm-3\">\n" +
                          "                      <div>\n" +
                          "                          <img class=\"img-responsive\" src=\""+list[i].bankImageUrl+"\" alt=\"\">\n" +
                          "                          <div>\n" +
                          "                              <span><a href=\"http://ordoszxqy.org.cn/ry/details?bankId="+list[i].id+"\">查看详情</a></span><a href=\"http://ordoszxqy.org.cn/ry/index?bankId="+list[i].id+"\" class=\"time\">立即申请</a>\n" +
                          "                          </div>\n" +
                          "                      </div>\n" +
                          "                  </li>";

                  }
                  $('.list-connect').html(content);

                  var pageInfo = data.pageInfo;
                  paging(pageInfo);
              }
          }).done(function (data) {
              // 请求成功
          }).fail(function (jqXHR, textStatus, errorThrown) {
              // net::ERR_CONNECTION_REFUSED 发生时，也能进入
              console.info("网络出错");
          });
      }
      /*分页*/
      function paging(pageInfo) {
          var pre = "";
          if(pageInfo.hasPreviousPage){
              pre = "<li class=\"page-pre\" >\n" +
                  "<a href=\"javascript:void(0)\" onclick=\"serviceAjax("+pageInfo.nextPage+")\">‹</a>\n" +
                  "</li>";
          }
          var next = "";
          if(pageInfo.hasNextPage){
              next = "<li class=\"page-next\" ><a href=\"javascript:void(0)\"  onclick=\"serviceAjax("+pageInfo.nextPage+")\">›</a></li>\n" ;
          }
          var pageNums = pageInfo.navigatepageNums;
          var pageNumsContent = "";
          for(var j = 0;j<pageNums.length;j++){
              var classStr = "";
              if(pageNums[j] == pageInfo.pageNum){
                  classStr =  "page-number active";
              }else {
                  classStr = "page-number";
              }
              pageNumsContent = pageNumsContent + "<li  class=\""+classStr+"\" >\n" +
                  "<a href=\"javascript:void(0)\"  onclick=\"serviceAjax("+pageNums[j]+")\">\n" +
                  ""+pageNums[j]+"" +
                  "</a>\n" +
                  "</li>\n"
          }
          var pageInfoContent = "<div class=\"col-md-6\">\n" +
              "当前第 "+pageInfo.pageNum+"页,共 "+pageInfo.pages+"页.一共 "+pageInfo.total+" 条记录\n" +
              "</div>\n" +
              "<div class=\"col-md-6\">\n" +
              "<ul class=\"pagination pagination-outline\">\n" + pre + pageNumsContent + next +
              "</ul>\n" +
              "</div>";

          $('.servicePage').html(pageInfoContent);
      }
  </script>
  <!--用户状态获取-->
  <script th:href="@{zxqy/js/userInfomation}" src="zxqy/js/userInfomation.js"></script>
</body>

</html>
