<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>内蒙古鄂尔多斯市 · 中小企业公共服务平台</title>
        <link th:src="@{zxqy/bootstrap/css/bootstrap.css}" rel="stylesheet" href="zxqy/bootstrap/css/bootstrap.css">
        <link th:src="@{zxqy/css/chromagallery.min.css}" rel="stylesheet" href="zxqy/css/chromagallery.min.css">
        <link th:src="@{zxqy/css/main.css}" rel="stylesheet" href="zxqy/css/main.css">
        <link rel="stylesheet" type="text/css" th:href="@{jquery-bootstrup-lunbo/css/normalize.css}" href="css/normalize.css" />

        <link rel="stylesheet" type="text/css" th:href="@{jquery-bootstrup-lunbo/css/default.css}"  href="css/default.css">


        <link th:href="@{jquery-bootstrup-lunbo/css/bootstrap-theme.min.css}"  href="css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />

        <link th:href="@{jquery-bootstrup-lunbo/css/site.css}"  href="css/site.css" rel="stylesheet" type="text/css" />

        <script th:href="@{zxqy/js/jquery-1.11.0.min.js}" src="zxqy/js/jquery-1.11.0.min.js"></script>
        <script th:href="@{zxqy/layer/layer.js}" src="zxqy/layer/layer.js"></script>
        <script th:href="@{zxqy/layer/extend/layer.ext.js}" src="zxqy/layer/extend/layer.ext.js"></script>
        <script th:href="@{zxqy/js/zxqyJavascript.js}" src="zxqy/js/zxqyJavascript.js"></script>
        <!--用户状态获取-->
        <script th:href="@{zxqy/js/userInfomation}" src="zxqy/js/userInfomation.js"></script>
	</head>
<style>
    .service-list-left ul li {
        margin-bottom: 30px;
    }
    .fenge{

        padding:12px 6px 79px 6px;

        margin-left: 6px;

        border-left: 1px solid #dcdcdc;

        font-size: 0;

    }


</style>
	<body>
    <div class="head"><div class="container">
        <div class="row">
            <div class="logo col-sm-9">
                <img class="img-responsive" src="images/index-first_03.png" alt="">
            </div>
            <div class="search col-sm-3">
                <div class="login">

                </div>
                <div class="searchs pull-right">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control">
                            <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                <img src="images/index-first_15.png" alt="">
              </button>
            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div></div>
		<div class="service-body">
			<div class="container">
				<div class="row">
					<div class="service-list-left col-sm-9 ">
						<div class="index-title col-sm-12 bankOne">
							<span><a href=""><i>助保贷</i>服务机构</a></span>
						</div>
						<div class="bankTwo">
							<ul class="list-inline">
								<li class="col-sm-4">
									<div class="service-bank">
                                        <img class="img-responsive" src="http://ordoszxqy.org.cn/ry/profile/upload/2020/09/02/2020-09-03-eedsnsyh71.jpg" alt="">
										<div class="service-bank-list">
                                            <span><a href="http://ordoszxqy.org.cn/ry/details?bankId=7">查看详情</a></span><a href="http://ordoszxqy.org.cn/ry/index?bankId=7" class="time">立即申请</a>
										</div>
									</div>
								</li>
								<li class="col-sm-4">
									<div class="service-bank">
                                        <img class="img-responsive" src="http://ordoszxqy.org.cn/ry/profile/upload/2020/09/02/2020-09-03-eedsnsyh9.jpg" alt="">
										<div class="service-bank-list">
                                            <span><a href="http://ordoszxqy.org.cn/ry/details?bankId=8">查看详情</a></span><a href="http://ordoszxqy.org.cn/ry/index?bankId=8" class="time">立即申请</a>
										</div>
									</div>
								</li>
								<!--<li class="col-sm-3">
									<div class="service-bank">
                                        <img class="img-responsive" src="http://ordoszxqy.org.cn/ry/profile/upload/2020/09/02/2020-09-03-eedsnsyh5.jpg" alt="">
										<div class="service-bank-list">
                                            <span><a href="http://ordoszxqy.org.cn/ry/details?bankId=10">查看详情</a></span><a href="http://ordoszxqy.org.cn/ry/index?bankId=10" class="time">立即申请</a>
										</div>
									</div>
								</li>-->
								<li class="col-sm-4">
									<div class="service-bank">
                                        <img class="img-responsive" src="http://ordoszxqy.org.cn/ry/profile/upload/2020/09/02/2020-09-03-eedsnsyh.jpg" alt="">
										<div class="service-bank-list">
                                            <span><a href="http://ordoszxqy.org.cn/ry/details?bankId=11">查看详情</a></span><a href="http://ordoszxqy.org.cn/ry/index?bankId=11" class="time">立即申请</a>
										</div>
									</div>
								</li>
								<li class="col-sm-4">
									<div class="service-bank">
                                        <img class="img-responsive" src="http://ordoszxqy.org.cn/ry/profile/upload/2020/09/02/2020-09-03-eedsnsyh8.jpg" alt="">
										<div class="service-bank-list">
                                            <span><a href="http://ordoszxqy.org.cn/ry/details?bankId=12">查看详情</a></span><a href="http://ordoszxqy.org.cn/ry/index?bankId=12" class="time">立即申请</a>
										</div>
									</div>
								</li>
								<li class="col-sm-4">
									<div class="service-bank">
                                        <img class="img-responsive" src="http://ordoszxqy.org.cn/ry/profile/upload/2020/09/02/2020-09-03-eedsnsyh4.jpg" alt="">
										<div class="service-bank-list">
                                            <span><a href="http://ordoszxqy.org.cn/ry/details?bankId=13">查看详情</a></span><a href="http://ordoszxqy.org.cn/ry/index?bankId=13" class="time">立即申请</a>
										</div>
									</div>
								</li>
                                <li class="col-sm-4">
                                    <div class="service-bank">
                                        <img class="img-responsive" src="http://ordoszxqy.org.cn/ry/profile/upload/2020/09/02/2020-09-03-eedsnsyh6.jpg" alt="">
                                        <div class="service-bank-list">
                                            <span><a href="http://ordoszxqy.org.cn/ry/details?bankId=14">查看详情</a></span><a href="http://ordoszxqy.org.cn/ry/index?bankId=14" class="time">立即申请</a>
                                        </div>
                                    </div>
                                </li>
							</ul>
						</div>
						<div class="index-title col-sm-12">
                            <span><a href=""><i>[[${fontText.roleName}]]</i></a></span>
						</div>
						<div class="row">
							<div class="service-list col-sm-12" style="height: 57vh">
								<ul class="list-inline list-connect">


								</ul>
							</div>
						</div>
						<div class="servicePage">

						</div>
					</div>
					<div class="service-list-right col-sm-3">
						<div class="index-title col-sm-12" style="width: 356px;">
							<span><a href=""><i>数据</i>统计</a></span>
						</div>
						<div class="service-right col-sm-11" style="width: 356px;">
                            <div class="row" style="width: 408px;padding: 12px 23px;">
                                <div class="col-md-3">
                                    <span id="great">[[${size}]]</span>
                                    <p>对接数量</p>

                                </div>
                                <div class="col-md-1"><span class="fenge"></span></div>
                                <div class="col-md-3">
                                    <span id="serviceNum">[[${plGuaranteeLoans.numThree}]]</span>
                                    <p>服务机构入驻数量</p>
                                </div>
                                <div class="col-md-1"><span class="fenge"></span></div>
                                <div class="col-md-3">
                                    <span id="orgNum">[[${plGuaranteeLoans.numOne}]]</span>
                                    <p>已注册企业数</p>
                                </div>
                            </div>
						</div>
						<div class="service-right col-sm-11 panel panel-default" style="width: 356px;">
                            <div class="panel-heading">

                                <span class="glyphicon glyphicon-list-alt" style="font-size: 16px;"></span><b>成功案例</b></div>
                            <div class="panel-body">
                                <div class="row" style="padding: 0px 29px;">
                                    <div class="col-xs-12" style="padding: 4px 0;">
                                        <table class="table table-striped table-bordered" cellpadding="4">
                                                    <thead>
                                                    <tr>
                                                        <th style="width: 20%;">名称</th>
                                                        <th style="width: 32%;">诉求内容</th>
                                                        <th style="width: 27%;">处理状态</th>
                                                        <th style="width: 21%">时间</th>
                                                    </tr>
                                                    </thead>
                                                </table>
                                        <ul class="demo1" >
                                            <li  th:each="list : ${arrayList}">
                                                <table class="table table-striped table-bordered" cellpadding="4">
                                                    <tr>
                                                        <td style="width: 20%;" th:title="*{list.nameTitle}">[[*{list.name}]]</td>
                                                        <td style="width: 32%;" th:title="*{list.contentTitle}">[[*{list.content}]]</td>
                                                        <td style="width: 16%;">[[*{list.type}]]</td>
                                                        <td style="width: 32%;">[[*{#dates.format(list.time, 'yyyy-MM-dd ')}]]</td>
                                                    </tr>
                                                </table>
                                            </li>
                                        </ul>
                                           <!-- <div >
                                                <li>
                                                    <table class="table table-striped table-bordered">
                                                        <tr>
                                                            <td>1</td>
                                                            <td>2</td>
                                                            <td>3</td>
                                                            <td>4</td>
                                                        </tr>
                                                    </table>
                                                </li>
                                                <li>
                                                    <table class="table table-striped table-bordered">
                                                        <tr>
                                                            <td>2</td>
                                                            <td>2</td>
                                                            <td>32</td>
                                                            <td>24</td>
                                                        </tr>
                                                    </table>
                                                </li>
                                            </div>-->

                                    </div>

                                </div>

                            </div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="footbut">
			<a href="javascript:void(0);">
				<img src="images/index-seventh_14.png" alt="">
			</a>
		</div>
		<div class="foot"></div>

		<div class="index-left">
			<a href="">
				<img class="wx" src="images/index-first_22.png" alt="">
			</a>
			<div class="wximg">
				<img src="images/index-first_20.png" alt="">
			</div>
		</div>
		<div class="index-right index-rights">
            <div class="index-back goBack" >上一页</div>
            <div class="index-back index">返回首页</div>
		</div>
        <script th:inline="javascript"> var ctx = [[@{/}]]; var captchaType = [[${captchaType}]]; </script>
		<script>
            $(function() {
                $(".head").load("zxqy/head.html");
                $(".foot").load("zxqy/foot.html");
                wx();
                footDis();
                footMove();
                // 列表页返回
                $(".index").click(function () {
                    window.location = "/";
                });
                $(".goBack").click(function () {
                    window.history.back();
                });

                var serviceId = "[[${serviceId}]]";
                if(serviceId == 126){
                    $('.bankOne').show();
                    $('.bankTwo').show();
                }else{
                    $('.bankOne').hide();
                    $('.bankTwo').hide();
                }



            })

        </script>
            <!--用户状态获取-->
            <script th:href="@{zxqy/js/userInfomation}" src="zxqy/js/userInfomation.js"></script>
        <script>
            serviceAjax();
            function serviceAjax(pageNum) {
                $.ajax({
                    type: "post",
                    url: ctx + "serviceAjax",
                    dataType: "json",
                    async:false,
                    data: {
                        "serviceId": "[[${serviceId}]]",
                        "pageNum": pageNum
                    },
                    success: function (data) {
                        var list = data.pageInfo.list;
                        var content = ""
                        for (var i = 0; i < list.length; i++) {
                            content = content + "<li class=\"col-sm-3\">\n" +
                                "<div class=\"service-img\">\n" +
                                "<img  src=\"/ry"+ list[i].organizationPicture +"\" alt=\"服务机构logo\">\n" +
                                "<p style=\"overflow: hidden;white-space:nowrap;text - overflow:ellipsis;\">主营业务："+ list[i].reason +"</p>\n" +
                                "<a class=\"time\" href=\"/ry/serviceConten?userId="+list[i].userId+"&productId="+list[i].productId+"\" >查看申请</a>\n" +
                                "</div>\n" +
                                "<div class=\"service-type\">\n" +
                                "<span  style=\" overflow: hidden;text-overflow :ellipsis;white-space:nowrap;display: inline-block;width: 209px;\">"+ list[i].userName +"</span>\n" +
                                "</div>\n" +
                                "</li>";

                        }
                        $('.list-connect').html(content);

                        var pageInfo = data.pageInfo;
                        paging(pageInfo);
                    }
                }).done(function (data) {
                    // 请求成功
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    // net::ERR_CONNECTION_REFUSED 发生时，也能进入
                    console.info("网络出错");
                });
            }
            /*分页*/
            function paging(pageInfo) {
                var pre = "";
                if(pageInfo.hasPreviousPage){
                    pre = "<li class=\"page-pre\" >\n" +
                        "<a href=\"javascript:void(0)\" onclick=\"serviceAjax("+pageInfo.nextPage+")\">‹</a>\n" +
                        "</li>";
                }
                var next = "";
                if(pageInfo.hasNextPage){
                    next = "<li class=\"page-next\" ><a href=\"javascript:void(0)\"  onclick=\"serviceAjax("+pageInfo.nextPage+")\">›</a></li>\n" ;
                }
                var pageNums = pageInfo.navigatepageNums;
                var pageNumsContent = "";
                for(var j = 0;j<pageNums.length;j++){
                    var classStr = "";
                    if(pageNums[j] == pageInfo.pageNum){
                        classStr =  "page-number active";
                    }else {
                        classStr = "page-number";
                    }
                    pageNumsContent = pageNumsContent + "<li  class=\""+classStr+"\" >\n" +
                        "<a href=\"javascript:void(0)\"  onclick=\"serviceAjax("+pageNums[j]+")\">\n" +
                        ""+pageNums[j]+"" +
                        "</a>\n" +
                        "</li>\n"
                }
                var pageInfoContent = "<div class=\"col-md-6\">\n" +
                    "当前第 "+pageInfo.pageNum+"页,共 "+pageInfo.pages+"页.一共 "+pageInfo.total+" 条记录\n" +
                    "</div>\n" +
                    "<div class=\"col-md-6\">\n" +
                    "<ul class=\"pagination pagination-outline\">\n" + pre + pageNumsContent + next +
                    "</ul>\n" +
                    "</div>";

                $('.servicePage').html(pageInfoContent);
            }
		</script>
        <script th:src="@{jquery-bootstrup-lunbo/js/jquery.bootstrap.newsbox.min.js}" src="/static/jquery-bootstrup-lunbo/js/jquery.bootstrap.newsbox.min.js"></script>
        <script type="text/javascript">

            $(function () {

                $(".demo1").bootstrapNews({

                    newsPerPage: 5,

                    autoplay: true,

                    pauseOnHover:true,

                    direction: 'up',

                    newsTickerInterval: 1000,

                    onToDo: function () {

                        //console.log(this);

                    }

                });
                // 滚动新闻上下按钮样式
                $('.glyphicon-chevron-down').attr("style","font-size: 24px;color: #000000;");
                $('.glyphicon-chevron-up').attr("style","font-size: 24px;color: #000000;");

            });

        </script>
	</body>

</html>
