<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.activiti.mapper.PlTodoItemMapper">
    
    <resultMap type="PlTodoItem" id="PlTodoItemResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="legal"    column="legal"    />
        <result property="module"    column="module"    />
        <result property="taskId"    column="task_id"    />
        <result property="instanceId"    column="instance_id"    />
        <result property="taskName"    column="task_name"    />
        <result property="nodeName"    column="node_name"    />
        <result property="isView"    column="is_view"    />
        <result property="isHandle"    column="is_handle"    />
        <result property="todoUserId"    column="todo_user_id"    />
        <result property="todoUserName"    column="todo_user_name"    />
        <result property="handleUserId"    column="handle_user_id"    />
        <result property="handleUserName"    column="handle_user_name"    />
        <result property="todoTime"    column="todo_time"    />
        <result property="handleTime"    column="handle_time"    />
        <result property="bankId"    column="bank_id"    />
    </resultMap>

    <sql id="selectPlTodoItemVo">
        select id, title, legal, module, task_id, instance_id, task_name, node_name, is_view, is_handle, todo_user_id, todo_user_name, handle_user_id, handle_user_name, todo_time, handle_time,bank_id from pl_todo_item
    </sql>

    <select id="selectPlTodoItemList" parameterType="PlTodoItem" resultMap="PlTodoItemResult">
        <include refid="selectPlTodoItemVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="legal != null  and legal != ''"> and legal = #{legal}</if>
            <if test="module != null  and module != ''"> and module = #{module}</if>
            <if test="taskId != null  and taskId != ''"> and task_id = #{taskId}</if>
            <if test="instanceId != null  and instanceId != ''"> and instance_id = #{instanceId}</if>
            <if test="taskName != null  and taskName != ''"> and task_name like concat('%', #{taskName}, '%')</if>
            <if test="nodeName != null  and nodeName != ''"> and node_name like concat('%', #{nodeName}, '%')</if>
            <if test="isView != null  and isView != ''"> and is_view = #{isView}</if>
            <if test="isHandle != null  and isHandle != ''"> and is_handle = #{isHandle}</if>
            <if test="todoUserId != null  and todoUserId != ''"> and todo_user_id = #{todoUserId}</if>
            <if test="todoUserName != null  and todoUserName != ''"> and todo_user_name like concat('%', #{todoUserName}, '%')</if>
            <if test="handleUserId != null  and handleUserId != ''"> and handle_user_id = #{handleUserId}</if>
            <if test="handleUserName != null  and handleUserName != ''"> and handle_user_name like concat('%', #{handleUserName}, '%')</if>
            <if test="todoTime != null "> and todo_time = #{todoTime}</if>
            <if test="handleTime != null "> and handle_time = #{handleTime}</if>
        </where>
    </select>
    
    <select id="selectPlTodoItemById" parameterType="Long" resultMap="PlTodoItemResult">
        <include refid="selectPlTodoItemVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPlTodoItem" parameterType="PlTodoItem" useGeneratedKeys="true" keyProperty="id">
        insert into pl_todo_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null  and title != ''">title,</if>
            <if test="legal != null  and legal != ''">legal,</if>
            <if test="module != null  and module != ''">module,</if>
            <if test="taskId != null  and taskId != ''">task_id,</if>
            <if test="instanceId != null  and instanceId != ''">instance_id,</if>
            <if test="taskName != null  and taskName != ''">task_name,</if>
            <if test="nodeName != null  and nodeName != ''">node_name,</if>
            <if test="isView != null  and isView != ''">is_view,</if>
            <if test="isHandle != null  and isHandle != ''">is_handle,</if>
            <if test="todoUserId != null  and todoUserId != ''">todo_user_id,</if>
            <if test="todoUserName != null  and todoUserName != ''">todo_user_name,</if>
            <if test="handleUserId != null  and handleUserId != ''">handle_user_id,</if>
            <if test="handleUserName != null  and handleUserName != ''">handle_user_name,</if>
            <if test="todoTime != null ">todo_time,</if>
            <if test="handleTime != null ">handle_time,</if>
            <if test="bankId != null ">bank_id,</if>
            <if test="realityStartTime != null ">reality_start_time,</if>
            <if test="realityEndTime != null ">reality_end_time,</if>
            <if test="actualLoanAmount != null ">actual_loan_amount,</if>

         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null  and title != ''">#{title},</if>
            <if test="legal != null  and legal != ''">#{legal},</if>
            <if test="module != null  and module != ''">#{module},</if>
            <if test="taskId != null  and taskId != ''">#{taskId},</if>
            <if test="instanceId != null  and instanceId != ''">#{instanceId},</if>
            <if test="taskName != null  and taskName != ''">#{taskName},</if>
            <if test="nodeName != null  and nodeName != ''">#{nodeName},</if>
            <if test="isView != null  and isView != ''">#{isView},</if>
            <if test="isHandle != null  and isHandle != ''">#{isHandle},</if>
            <if test="todoUserId != null  and todoUserId != ''">#{todoUserId},</if>
            <if test="todoUserName != null  and todoUserName != ''">#{todoUserName},</if>
            <if test="handleUserId != null  and handleUserId != ''">#{handleUserId},</if>
            <if test="handleUserName != null  and handleUserName != ''">#{handleUserName},</if>
            <if test="todoTime != null ">#{todoTime},</if>
            <if test="handleTime != null ">#{handleTime},</if>
            <if test="bankId != null ">#{bankId},</if>
            <if test="realityStartTime != null ">#{realityStartTime},</if>
            <if test="realityEndTime != null ">#{realityEndTime},</if>
            <if test="actualLoanAmount != null ">#{actualLoanAmount},</if>

         </trim>
    </insert>

    <update id="updatePlTodoItem" parameterType="PlTodoItem">
        update pl_todo_item
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null  and title != ''">title = #{title},</if>
            <if test="legal != null  and legal != ''">legal = #{legal},</if>
            <if test="module != null  and module != ''">module = #{module},</if>
            <if test="taskId != null  and taskId != ''">task_id = #{taskId},</if>
            <if test="instanceId != null  and instanceId != ''">instance_id = #{instanceId},</if>
            <if test="taskName != null  and taskName != ''">task_name = #{taskName},</if>
            <if test="nodeName != null  and nodeName != ''">node_name = #{nodeName},</if>
            <if test="isView != null  and isView != ''">is_view = #{isView},</if>
            <if test="isHandle != null  and isHandle != ''">is_handle = #{isHandle},</if>
            <if test="todoUserId != null  and todoUserId != ''">todo_user_id = #{todoUserId},</if>
            <if test="todoUserName != null  and todoUserName != ''">todo_user_name = #{todoUserName},</if>
            <if test="handleUserId != null  and handleUserId != ''">handle_user_id = #{handleUserId},</if>
            <if test="handleUserName != null  and handleUserName != ''">handle_user_name = #{handleUserName},</if>
            <if test="todoTime != null ">todo_time = #{todoTime},</if>
            <if test="handleTime != null ">handle_time = #{handleTime},</if>
            <if test="bankId != null ">bank_id = #{bankId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePlTodoItemById" parameterType="Long">
        delete from pl_todo_item where id = #{id}
    </delete>

    <delete id="deletePlTodoItemByIds" parameterType="String">
        delete from pl_todo_item where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>