<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.activiti.mapper.RyProductMapper">
    
    <resultMap type="RyProduct" id="RyProductResult">
        <result property="id"    column="id"    />
        <result property="introduce"    column="introduce"    />
        <result property="userId"    column="user_id"    />
        <result property="serviceProductsId"    column="service_products_id"    />
    </resultMap>

    <sql id="selectRyProductVo">
        select id, introduce, user_id,service_products_id from ry_product
    </sql>

    <select id="selectRyProductList" parameterType="RyProduct" resultMap="RyProductResult">
        <include refid="selectRyProductVo"/>
        <where>  
            <if test="introduce != null  and introduce != ''"> and introduce = #{introduce}</if>
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="serviceProductsId != null  and serviceProductsId != ''"> and service_products_id = #{serviceProductsId}</if>
        </where>
    </select>
    
    <select id="selectRyProductById" parameterType="Long" resultMap="RyProductResult">
        <include refid="selectRyProductVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertRyProduct" parameterType="RyProduct">
        insert into ry_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">id,</if>
            <if test="introduce != null  and introduce != ''">introduce,</if>
            <if test="userId != null  and userId != ''">user_id,</if>
            <if test="serviceProductsId != null  and serviceProductsId != ''">service_products_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="introduce != null  and introduce != ''">#{introduce},</if>
            <if test="userId != null  and userId != ''">#{userId},</if>
            <if test="serviceProductsId != null  and serviceProductsId != ''">#{serviceProductsId},</if>
         </trim>
    </insert>

    <update id="updateRyProduct" parameterType="RyProduct">
        update ry_product
        <trim prefix="SET" suffixOverrides=",">
            <if test="introduce != null  and introduce != ''">introduce = #{introduce},</if>
            <if test="userId != null  and userId != ''">user_id = #{userId},</if>
            <if test="serviceProductsId != null  and serviceProductsId != ''">service_products_id = #{serviceProductsId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRyProductById" parameterType="Long">
        delete from ry_product where id = #{id}
    </delete>

    <delete id="deleteRyProductByIds" parameterType="String">
        delete from ry_product where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>